<div class="bg-white rounded-lg border-solid border-gray-100 border-[1px] p-6 flex flex-col gap-6">
  <div class="text-xl">Alerts</div>
  <div
    class="h-12 text-sm bg-indigo-100 text-indigo-500 border-solid border-[1px] border-indigo-500 px-4 py-2 rounded-lg flex flex-row items-center"
  >
    <div>A simple primary alert—check it out!</div>
  </div>
  <div
    class="h-12 text-sm bg-gray-50 text-gray-500 border-solid border-[1px] border-gray-300 px-4 py-2 rounded-lg flex flex-row items-center"
  >
    <div>A simple secondary alert—check it out!</div>
  </div>
  <div
    class="h-12 text-sm bg-green-100 text-green-500 border-solid border-[1px] border-green-500 px-4 py-2 rounded-lg flex flex-row items-center"
  >
    <div>A simple success alert—check it out!</div>
  </div>
  <div
    class="h-12 text-sm bg-orange-100 text-orange-500 border-solid border-[1px] border-orange-500 px-4 py-2 rounded-lg flex flex-row items-center"
  >
    <div>A simple danger alert—check it out!</div>
  </div>
  <div
    class="h-12 text-sm bg-amber-100 text-amber-500 border-solid border-[1px] border-amber-500 px-4 py-2 rounded-lg flex flex-row items-center"
  >
    <div>A simple warning alert—check it out!</div>
  </div>
  <div
    class="h-12 text-sm bg-sky-100 text-sky-500 border-solid border-[1px] border-sky-500 px-4 py-2 rounded-lg flex flex-row items-center"
  >
    <div>A simple info alert—check it out!</div>
  </div>
</div>
