<div class="bg-white rounded-lg border-solid border-gray-100 border-[1px] p-6 flex flex-col gap-6">
  <div class="text-xl">Buttons</div>
  <div class="flex flex-row gap-4 p-4 pt-0">
    <div
      class="cursor-pointer select-none text-sm bg-indigo-400 text-white px-4 py-2 rounded-lg border-solid border-[1px] border-white"
    >
      Primary
    </div>
    <div
      class="cursor-pointer select-none text-sm bg-blue-400 text-white px-4 py-2 rounded-lg border-solid border-[1px] border-white"
    >
      Secondary
    </div>
    <div
      class="cursor-pointer select-none text-sm bg-green-400 text-white px-4 py-2 rounded-lg border-solid border-[1px] border-white"
    >
      Success
    </div>
    <div
      class="cursor-pointer select-none text-sm bg-orange-400 text-white px-4 py-2 rounded-lg border-solid border-[1px] border-white"
    >
      Danger
    </div>
    <div
      class="cursor-pointer select-none text-sm bg-amber-400 text-white px-4 py-2 rounded-lg border-solid border-[1px] border-white"
    >
      Warning
    </div>
    <div
      class="cursor-pointer select-none text-sm bg-sky-400 text-white px-4 py-2 rounded-lg border-solid border-[1px] border-white"
    >
      Info
    </div>
  </div>
  <div class="text-xl">Outline buttons</div>
  <div class="flex flex-row gap-4 p-4 pt-0">
    <div
      class="cursor-pointer select-none text-sm bg-white text-indigo-400 border-solid border-[1px] border-indigo-400 px-4 py-2 rounded-lg"
    >
      Primary
    </div>
    <div
      class="cursor-pointer select-none text-sm bg-white text-blue-400 border-solid border-[1px] border-blue-400 px-4 py-2 rounded-lg"
    >
      Secondary
    </div>
    <div
      class="cursor-pointer select-none text-sm bg-white text-green-400 border-solid border-[1px] border-green-400 px-4 py-2 rounded-lg"
    >
      Success
    </div>
    <div
      class="cursor-pointer select-none text-sm bg-white text-orange-400 border-solid border-[1px] border-orange-400 px-4 py-2 rounded-lg"
    >
      Danger
    </div>
    <div
      class="cursor-pointer select-none text-sm bg-white text-amber-400 border-solid border-[1px] border-amber-400 px-4 py-2 rounded-lg"
    >
      Warning
    </div>
    <div
      class="cursor-pointer select-none text-sm bg-white text-sky-400 border-solid border-[1px] border-sky-400 px-4 py-2 rounded-lg"
    >
      Info
    </div>
  </div>
</div>
