<div class="bg-white rounded-lg border-solid border-gray-100 border-[1px] p-6 flex flex-col gap-6 items-center">
  <div class="text-xl self-start">Icons</div>
  <iframe
    src="https://tabler-icons.io/"
    frameborder="0"
    style="height: calc(100vh - 250px); width: 100%"
    data-simplebar="init"
    ><div class="simplebar-wrapper" style="margin: 0px">
      <div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div>
      <div class="simplebar-mask">
        <div class="simplebar-offset" style="right: 0px; bottom: 0px">
          <div
            class="simplebar-content-wrapper"
            tabindex="0"
            role="region"
            aria-label="scrollable content"
            style="height: auto; overflow: hidden"
          >
            <div class="simplebar-content" style="padding: 0px"></div>
          </div>
        </div>
      </div>
      <div class="simplebar-placeholder" style="width: 0px; height: 0px"></div>
    </div>
    <div class="simplebar-track simplebar-horizontal" style="visibility: hidden">
      <div class="simplebar-scrollbar" style="width: 0px; display: none"></div>
    </div>
    <div class="simplebar-track simplebar-vertical" style="visibility: hidden">
      <div class="simplebar-scrollbar" style="height: 0px; display: none"></div></div
  ></iframe>
</div>
