<div class="flex flex-row bg-gray-50">
  <div class="left-sidebar p-6 border-r min-h-screen max-h-screen overflow-auto min-w-[250px] flex flex-col gap-6">
    <div class="text-2xl font-semibold text-red-600 mb-4">Angular Dashboard</div>

    <div class="flex flex-col gap-2">
      <div class="font-medium">HOME</div>
      <div class="cursor-pointer text-white bg-blue-500 p-3 rounded-lg">Dashboard</div>
    </div>

    <div class="flex flex-col gap-2">
      <div class="font-medium">UI COMPONENTS</div>
      <div class="cursor-pointer p-3 rounded-lg hover:bg-blue-50 hover:text-blue-400">Buttons</div>
      <div class="cursor-pointer p-3 rounded-lg hover:bg-blue-50 hover:text-blue-400">Alerts</div>
      <div class="cursor-pointer p-3 rounded-lg hover:bg-blue-50 hover:text-blue-400">Card</div>
      <div class="cursor-pointer p-3 rounded-lg hover:bg-blue-50 hover:text-blue-400">Forms</div>
      <div class="cursor-pointer p-3 rounded-lg hover:bg-blue-50 hover:text-blue-400">Typography</div>
    </div>

    <div class="flex flex-col gap-2">
      <div class="font-medium">AUTH</div>
      <div class="cursor-pointer p-3 rounded-lg hover:bg-blue-50 hover:text-blue-400">Login</div>
      <div class="cursor-pointer p-3 rounded-lg hover:bg-blue-50 hover:text-blue-400">Register</div>
    </div>

    <div class="flex flex-col gap-2">
      <div class="font-medium">AUTH</div>
      <div class="cursor-pointer p-3 rounded-lg hover:bg-blue-50 hover:text-blue-400">Login</div>
      <div class="cursor-pointer p-3 rounded-lg hover:bg-blue-50 hover:text-blue-400">Register</div>
    </div>

    <div class="flex flex-col gap-2">
      <div class="font-medium">EXTRA</div>
      <div class="cursor-pointer p-3 rounded-lg hover:bg-blue-50 hover:text-blue-400">Icons</div>
      <div class="cursor-pointer p-3 rounded-lg hover:bg-blue-50 hover:text-blue-400">Sample Page</div>
    </div>

    <div class="flex flex-col items-center gap-2 p-4 bg-blue-50 rounded-lg">
      <div class="p-3 text-lg font-medium">Upgrade to pro</div>
      <div class="font-medium cursor-pointer p-3 rounded-lg hover:bg-blue-50 hover:text-blue-400">Buy Pro</div>
    </div>
  </div>

  <div class="right-sidebar p-6 min-h-screen max-h-screen overflow-auto flex flex-col gap-6">
    <div class="top-nav">Top Nav</div>
    <div class="content">Content</div>
  </div>
</div>
