<div class="bg-white rounded-lg border-solid border-gray-100 border-[1px] p-6 flex flex-col gap-6">
  <div class="text-xl">Headings</div>
  <div class="bg-white rounded-lg border-solid border-gray-100 border-[1px] p-6 flex flex-col gap-4 w-full">
    <div class="text-5xl">h1.Heading</div>
    <div class="text-4xl">h2.Heading</div>
    <div class="text-3xl">h3.Heading</div>
    <div class="text-2xl">h4.Heading</div>
    <div class="text-xl">h5.Heading</div>
    <div class="text-lg">h6.Heading</div>
  </div>

  <div class="text-xl">Inline text elements</div>
  <div class="bg-white rounded-lg border-solid border-gray-100 border-[1px] p-6 flex flex-col gap-4 w-full">
    <div class="text-sm">You can use the mark tag to <mark>highlight</mark> text.</div>
    <div class="text-sm"><del>This line of text is meant to be treated as deleted text.</del></div>
    <div class="text-sm"><s>This line of text is meant to be treated as no longer accurate.</s></div>
    <div class="text-sm"><ins>This line of text is meant to be treated as an addition to the document.</ins></div>
    <div class="text-sm"><u>This line of text will render as underlined.</u></div>
    <div class="text-sm"><small>This line of text is meant to be treated as fine print.</small></div>
    <div class="text-sm"><strong>This line rendered as bold text.</strong></div>
    <div class="text-sm"><em>This line rendered as italicized text.</em></div>
  </div>
</div>
