<div class="bg-white rounded-lg border-solid border-gray-100 border-[1px] p-6 flex flex-col gap-6">
  <div class="text-xl">Forms</div>
  <div class="bg-white rounded-lg border-solid border-gray-100 border-[1px] p-6 flex flex-col gap-6">
    <div>Email Address</div>
    <input
      type="text"
      class="px-4 py-2 outline-none border-solid border-[1px] border-gray-300 rounded focus:border-indigo-400"
    />

    <div>Password</div>
    <input
      type="password"
      class="px-4 py-2 outline-none border-solid border-[1px] border-gray-300 rounded focus:border-indigo-400"
    />

    <div
      class="cursor-pointer select-none text-sm bg-indigo-400 text-white px-4 py-2 rounded-lg border-solid border-[1px] border-white w-[80px]"
    >
      Submit
    </div>
  </div>

  <div class="text-xl">Disabled Forms</div>
  <div class="bg-white rounded-lg border-solid border-gray-100 border-[1px] p-6 flex flex-col gap-6">
    <div>Email Address</div>
    <input
      type="text"
      class="px-4 py-2 outline-none border-solid border-[1px] border-gray-300 rounded focus:border-indigo-400 disabled:bg-gray-100 disabled:select-none"
      value="disabled"
      disabled
    />

    <div>Password</div>
    <input
      type="password"
      class="px-4 py-2 outline-none border-solid border-[1px] border-gray-300 rounded focus:border-indigo-400 disabled:bg-gray-100 disabled:select-none"
      value="disabled"
      disabled
    />

    <div
      class="select-none text-sm bg-indigo-300 text-white px-4 py-2 rounded-lg border-solid border-[1px] border-white w-[80px]"
    >
      Submit
    </div>
  </div>
</div>
